.book{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 10px;    
}
.bookImage{
    flex:  0 0 100px;
    margin-right: 20px;
}
.bookImage img{
    display: block;
    max-width: 100px;
    height: auto;
}
.bookInfo{
    flex: 1;
}
.bookAuthor{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}
.bookPrice{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}
button{
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 8px 10px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 10px;
    outline: none;
}
